<h1>History of rounds</h1>

<table>
  <tr>
    <th>Computer Move</th>
    <th>Plyaer Move</th>
    <th>Outcome</th>
  </tr>

  <% Round.all.each do |round| %>
  <!-- without the equal sign in the embedded ruby object tag, it doesn't print -->
  <tr>
    <td><%= round.computer_move %></td>
    <td><%= round.player_move %></td>
    <td><%= round.outcome %></td>
  </tr>
  <% end %>

</table>

<h3>
  <a href="/rock"> Play rock</a>
</h3>

<h3>
  <a href="/paper"> Play paper</a>
</h3>

<h3>
  <a href="/scissors"> Play scissors</a>
</h3>

<h3>
  <a href="/landing"> Clear scoreboard</a>
</h3>
